.form {
	width: 100%;
	height: 200px;
	padding-block: 3em;
	background-image: url(/public/img/poke.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #ccc;
}
.link__return {
	color: #221f1f;
	
	font-weight: bold;
	text-decoration: none;

}
.link__text{
	color: #000;
	font-size: 1.5rem;
	font-weight:bold;
	text-decoration: none;
	padding: 0.5em 2.5em;
	overflow: hidden;
	margin: 5px;
	padding: 0.5em 2.5em;
}

.form_container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	padding: 1.5em;
	background-color: #4444446b;
	width: 400px;
	text-align: center;
	border-radius: 10px;
}
.form__center{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

.form_input,
.form_select {
	background-color: rgb(255, 245, 245);
	color: rgb(0, 0, 0);
	border-color: black;
	&:hover {
		border-color: brown;
		background-color: rgba(152, 140, 140, 0.437);
		color: rgb(255, 246, 246);
	}
}
.form_select {
	cursor: pointer;
}
@media screen and (max-width: 768px) {
	.form_container{
width: 90%;
margin-bottom: 0;

	}
.link__text{
	color: #000;
	font-size: 1.2rem;
	font-weight:bold;
	text-decoration: none;
	padding: 0.5em 2.5em;
	overflow: hidden;
	margin: 5px;
	padding: 0.5em 2.5em;
}
}