.list {
	position: relative;
	width: 100%;
	height: auto;
	padding-top: 2em;
}

.list_container {
	max-width: 1024px;
	margin-inline: auto;
	padding-inline: 1em;
}

.list_content {
	display: grid;
	margin-inline: auto;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 1.5em;
}

.list_empty {
	text-align: center;
	font-size: var(--text-md);
	background-color: #ff00007e;
	border-radius: 1.5em;
}
